@font-face {
    font-family: RADIOLAND;
    src: url(assets/RADIOLAND.TTF);
}
body{
    margin: 0;
    background-image: url(assets/background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#clock-container{
    display: flex;
    justify-content: center;
    margin-top: 320px;
}
#clock{
    display: flex;
    font-size: 4.5rem;
    font-family: RADIOLAND;
    color: rgb(141, 184, 232);
    animation: glow 3s infinite;
}

@keyframes glow {
    0%{
        text-shadow: 0 0 10px rgb(141, 184, 232);
    }
    50%{
        text-shadow: 0 0 20px rgb(141, 184, 232);
    }
    100%{
        text-shadow: 0 0 10px rgb(141, 184, 232);
    }
}

